body {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
    background-color:rgb(96, 151, 96);
}

.topnav {
    overflow: hidden;
    background-color: beige;
}

.navlist {
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 18pt;
}

.navlist a {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(90, 70, 8);
}

.navlist a:hover {
    color: rgb(22, 112, 22);
}

figcaption a {
    text-decoration: none;
    color: black;
}

figcaption a:hover {
    color: blue;
}

.column {
    justify-content: center;
    text-align: center;
    flex: 1 0 auto;
    background-color: blanchedalmond;
}

h2 {
    font-size: 20pt;
}


figcaption{
    font-size: 10pt;
    
}

#mainHeading {
    color: red;
    background-color: blanchedalmond;
    padding: 20px;
    text-align: center;
}

.funParagraph {
    color: green;
}

.photo {
    max-width: 600px;
    max-height: auto;
    padding: 6px;
    border: 8px solid black;
}

footer {
    flex-shrink: 0;
}