body {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
    background-image: url("images/woodgrain.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color:rgb(112, 151, 121);
    font-family:luminari, fantasy;
}

.topnav {
    overflow: hidden;
    background-image: url("images/bluetexture.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgb(191, 216, 215);
}

.navlist {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 18pt;
}

.navlist a {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.navlist a:hover {
    color: whitesmoke;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

figcaption{
    font-size: 12pt;
    font-style: italic;
}

figcaption a {
    text-decoration: none;
    color: black;
}

figcaption a:hover {
    color: blue;
}

.column {
    justify-content: center;
    text-align: center;
    flex: 1 0 auto;
    background-image: url("images/whitetexture.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color:beige;
}

h2 {
    font-size: 28pt;
}

p {
    font-size: 18pt;
    font-weight:400;
}


#mainHeading {
    color: red;
    text-shadow: 1px 1px 2px black, 2px 2px 25px black, 4px 4px 12px purple;
    background-image: url("images/whitetexture.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: beige;
    padding: 20px;
    text-align: center;
}

.funParagraph {
    color: green;
}

.photo {
    max-width: 600px;
    max-height: auto;
    padding: 6px;
    border: 8px solid black;
}

footer {
    color:white;
    flex-shrink: 0;
}